@model Checkout

@{
    var bookid = ViewBag.BookId;
}
<h2>Check-in Book</h2>

<form asp-action="Checkin">
    <div class="form-group">
        <label asp-for="Book" class="control-label">Selected Book:</label>
        <input class="form-control" id="book-select" disabled>
        <input asp-for="BookId" class="form-control" id="book-object" value="@bookid" hidden>
    </div>
    <div class="form-group">
        <label asp-for="CustomerId" class="control-label">Select Customer:</label>
        <select asp-for="CustomerId" class="form-control" id="customer-select"></select>
    </div>
    <div class="form-group">
        <label asp-for="ExpectedReturnDate" class="control-label">Beklenen Geri Getirme Tarihi:</label>
        <input type="datetime-local" asp-for="ExpectedReturnDate" class="form-control" id="date-select" readonly>
    </div>


    <div class="form-group">
        <input type="submit" value="CreateCheckout" class="btn btn-primary" />
    </div>
</form>


@section Scripts {

    <script>


        $(document).ready(function () {




            $.get("/Customer/GetAll", function (data) {
                $.each(data, function (index, value) {
                    $('#customer-select').append('<option value="' + value.id + '">' + value.firstName + " " + value.lastName + '</option>');
                });
            });

            $.get("/Book/GetById/" + @bookid, function (data) {
                $('#book-select').val(data.title);

            });


            $("#ExpectedReturnDate").set(@Model.)


        });




    </script>


}
